.profile-orders-wrapper
  width: 100%
  max-width: 865px
  min-height: 350px
  position: relative
  margin-bottom: 90px
  margin-left: auto
  z-index: 10

  @include media-breakpoint-down(lg)
    margin-right: auto

.profile-orders
  width: 100%
  max-width: 802px
  margin-left: auto

  .title
    display: block
    position: relative
    margin: 65px auto 40px
    font-family: $fontIntroScript
    font-size: 33px
    line-height: 1em
    color: #000
    text-align: center
    text-transform: inherit

  .no-result
    font-size: 22px
    text-align: center

  .button-toggle-sidebar
    position: absolute
    top: 0
    left: 0
    cursor: pointer
    visibility: hidden

    svg
      width: 31px
      height: 33px

  @include media-breakpoint-down(lg)
    margin-right: auto

    .button-toggle-sidebar
      visibility: visible