.cart
	.cart-button
		width: 100%
		padding: 10px 5px 15px 5px
		color: #1f1f1f
		font-size: 17px
		line-height: 10px
		background-color: #fff
		box-shadow: $clrCartShadow
		border-radius: 50px
		user-select: none
		cursor: pointer
		transition: $transitionBase

		&:hover
			box-shadow: $clrCartShadowHover

		.icon-cart
			width: 15px
			height: 15px
			position: relative
			top: 3px
			left: 0
			margin-right: 8px
			background: url('../../images/icon/main-sprite.png')
			background-position: -139px -16px

		.text
			margin-left: 2px

	.dropdown
		max-width: 395px
		min-width: 355px
		right: 0
		padding: 20px 20px 18px 18px
		
		p
			font-size: 22px
			text-align: center
			color: #000

	.cart-list
		font-size: 16px
		color: $clrBaseText

		.items
			max-height: 160px
			overflow-x: auto

	.item
		display: flex
		flex-flow: row nowrap
		padding: 2px 0
		align-items: center
		
		.image
			order: 1
			flex: 0 32px
			max-width: 32px
			margin-right: 17px

		.name
			order: 2
			flex: 0 31%
			line-height: 1em
			text-align: left

		.value
			order: 2
			flex: 0 65px
			max-width: 65px
			display: flex
			flex-flow: row nowrap
			justify-content: center
			align-items: center
			font-size: 12px
			padding: 0 4px
			margin-left: auto
			border: 1px dashed #e6e6e6
			border-radius: 20px
			color: #000
			
			input
				font-size: 15px
				text-align: center

			.update-value
				width: 15px
				font-size: 15px
				text-align: center
				cursor: pointer
				user-select: none

		.price
			order: 3
			flex: 0 67px
			text-align: center

		.remove
			order: 4
			width: 10px
			height: 10px
			margin: 0 4px
			background: url("../../images/icon/remove.png") no-repeat
			cursor: pointer
			transition: $transitionRapidly

			&:hover
				background: url("../../images/icon/remove-dark.png") no-repeat

	.cart-result
		display: flex
		flex-flow: nowrap row
		justify-content: space-between
		margin-top: 18px

		.total
			width: 135px
			margin-top: 5px
			text-align: right

			span
				font-size: 20px
				margin-left: 10px
				color: #000

		.button-checkout
			width: auto
			padding: 8px 23px
			border-bottom: 1px solid $clrProductButtonBorder
			border-radius: 50px
			cursor: pointer

	@include media-breakpoint-down(md)
		.cart-button
			.text
				display: none

	@media (max-width: 400px)
		.dropdown
			min-width: 320px
			padding: 10px 8px

		.item
			.value
				margin: 0 auto
			
			.update-value
				display: none